%% these are the dependencies and project configurations.
%% would look like this: {deps, [{swoosh, "1.5.2"}]}.

{erl_opts, [no_debug_info]}.
{deps, []}.

%% Escript
{escript_incl_apps,
 [park]}.
{escript_main_app, park}.
{escript_name, park}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
